In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sb
import datetime as dt
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df_87 = pd.read_csv('1987.csv')
df_08 = pd.read_csv('2008.csv')

In [ ]:
fields = ['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'ArrDelay', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay' ]

df_1987 = pd.read_csv('1987.csv', skipinitialspace=True, usecols=fields)
df_1988 = pd.read_csv('1988.csv', skipinitialspace=True, usecols=fields)
df_1989 = pd.read_csv('1989.csv', skipinitialspace=True, usecols=fields)
df_1990 = pd.read_csv('1990.csv', skipinitialspace=True, usecols=fields)
df_1991 = pd.read_csv('1991.csv', skipinitialspace=True, usecols=fields)
df_1992 = pd.read_csv('1992.csv', skipinitialspace=True, usecols=fields)
df_1993 = pd.read_csv('1993.csv', skipinitialspace=True, usecols=fields)
df_1994 = pd.read_csv('1994.csv', skipinitialspace=True, usecols=fields)
df_1995 = pd.read_csv('1995.csv', skipinitialspace=True, usecols=fields)
df_1996 = pd.read_csv('1996.csv', skipinitialspace=True, usecols=fields)
df_1997 = pd.read_csv('1997.csv', skipinitialspace=True, usecols=fields)
df_1998 = pd.read_csv('1998.csv', skipinitialspace=True, usecols=fields)
df_1999 = pd.read_csv('1999.csv', skipinitialspace=True, usecols=fields)
df_2000 = pd.read_csv('2000.csv', skipinitialspace=True, usecols=fields)
df_2001 = pd.read_csv('2001.csv', skipinitialspace=True, usecols=fields)
df_2002 = pd.read_csv('2002.csv', skipinitialspace=True, usecols=fields)
df_2003 = pd.read_csv('2003.csv', skipinitialspace=True, usecols=fields)
df_2004 = pd.read_csv('2004.csv', skipinitialspace=True, usecols=fields)
df_2005 = pd.read_csv('2005.csv', skipinitialspace=True, usecols=fields)
df_2006 = pd.read_csv('2006.csv', skipinitialspace=True, usecols=fields)
df_2007 = pd.read_csv('2007.csv', skipinitialspace=True, usecols=fields)
df_2008 = pd.read_csv('2001.csv', skipinitialspace=True, usecols=fields)
# See the keys
print(df_1988.keys())

In [ ]:
path = 'C:\Users\User\Documents\DAND\fifth_project\aviation_dataset'
fields = ['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'ArrDelay', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay' ]
for year in range(2009-1987):
    df_name = '1987'
    df_name = str(int(df_name) + 1) + '_df'

In [ ]:
path = "C:/Users/User/Documents/DAND/fifth_project/aviation_dataset"
year_list = os.listdir(path) # a list keeping the names of my .csv files in path directory
fields = ['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'ArrDelay', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay' ]
df = pd.DataFrame(columns=fields) 
temp_df = pd.DataFrame()
for year in year_list:
    temp_df = pd.read_csv(year, header=0, skipinitialspace=True, usecols=fields)
    df = df.append(temp_df)

In [25]:
df

,Year,Month,DayofMonth,DayOfWeek,ArrDelay,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1987,10,14,3,23.0,NaN,NaN,NaN,NaN,NaN
1,1987,10,15,4,14.0,NaN,NaN,NaN,NaN,NaN
2,1987,10,17,6,29.0,NaN,NaN,NaN,NaN,NaN
3,1987,10,18,7,-2.0,NaN,NaN,NaN,NaN,NaN
4,1987,10,19,1,33.0,NaN,NaN,NaN,NaN,NaN
5,1987,10,21,3,-1.0,NaN,NaN,NaN,NaN,NaN
6,1987,10,22,4,3.0,NaN,NaN,NaN,NaN,NaN
7,1987,10,23,5,13.0,NaN,NaN,NaN,NaN,NaN
8,1987,10,24,6,19.0,NaN,NaN,NaN,NaN,NaN
9,1987,10,25,7,2.0,NaN,NaN,NaN,NaN,NaN
10,1987,10,26,1,15.0,NaN,NaN,NaN,NaN,NaN
11,1987,10,28,3,24.0,NaN,NaN,NaN,NaN,NaN
12,1987,10,29,4,11.0,NaN,NaN,NaN,NaN,NaN
13,1987,10,31,6,-7.0,NaN,NaN,NaN,NaN,NaN
14,1987,10,1,4,34.0,NaN,NaN,NaN,NaN,NaN
15,1987,10,2,5,16.0,NaN,NaN,NaN,NaN,NaN
16,1987,10,3,6,36.0,NaN,NaN,NaN,NaN,NaN
17,1987,10,4,7,2.0,NaN,NaN,NaN,NaN,NaN
18,1987,10,5,1,88.0,NaN,NaN,NaN,NaN,NaN
19,1987,10,6,2,23.0,NaN,NaN,NaN,NaN,NaN
20,1987,10,7,3,36.0,NaN,NaN,NaN,NaN,NaN
21,1987,10,8,4,32.0,NaN,NaN,NaN,NaN,NaN
22,1987,10,9,5,35.0,NaN,NaN,NaN,NaN,NaN
23,1987,10,10,6,21.0,NaN,NaN,NaN,NaN,NaN
24,1987,10,11,7,5.0,NaN,NaN,NaN,NaN,NaN
25,1987,10,12,1,26.0,NaN,NaN,NaN,NaN,NaN
26,1987,10,13,2,35.0,NaN,NaN,NaN,NaN,NaN
27,1987,10,14,3,28.0,NaN,NaN,NaN,NaN,NaN
28,1987,10,15,4,22.0,NaN,NaN,NaN,NaN,NaN
29,1987,10,17,6,63.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
5041170,1989,12,13,3,5.0,NaN,NaN,NaN,NaN,NaN
5041171,1989,12,14,4,11.0,NaN,NaN,NaN,NaN,NaN
5041172,1989,12,15,5,22.0,NaN,NaN,NaN,NaN,NaN
5041173,1989,12,16,6,80.0,NaN,NaN,NaN,NaN,NaN
5041174,1989,12,18,1,35.0,NaN,NaN,NaN,NaN,NaN
5041175,1989,12,19,2,46.0,NaN,NaN,NaN,NaN,NaN
5041176,1989,12,20,3,34.0,NaN,NaN,NaN,NaN,NaN
5041177,1989,12,21,4,77.0,NaN,NaN,NaN,NaN,NaN
5041178,1989,12,22,5,22.0,NaN,NaN,NaN,NaN,NaN
5041179,1989,12,23,6,40.0,NaN,NaN,NaN,NaN,NaN
5041180,1989,12,24,7,-13.0,NaN,NaN,NaN,NaN,NaN
5041181,1989,12,25,1,-15.0,NaN,NaN,NaN,NaN,NaN
5041182,1989,12,26,2,11.0,NaN,NaN,NaN,NaN,NaN
5041183,1989,12,27,3,26.0,NaN,NaN,NaN,NaN,NaN
5041184,1989,12,28,4,33.0,NaN,NaN,NaN,NaN,NaN
5041185,1989,12,30,6,27.0,NaN,NaN,NaN,NaN,NaN
5041186,1989,12,31,7,22.0,NaN,NaN,NaN,NaN,NaN
5041187,1989,12,1,5,-6.0,NaN,NaN,NaN,NaN,NaN
5041188,1989,12,3,7,5.0,NaN,NaN,NaN,NaN,NaN
5041189,1989,12,4,1,0.0,NaN,NaN,NaN,NaN,NaN
5041190,1989,12,5,2,-2.0,NaN,NaN,NaN,NaN,NaN
5041191,1989,12,6,3,2.0,NaN,NaN,NaN,NaN,NaN
5041192,1989,12,7,4,-4.0,NaN,NaN,NaN,NaN,NaN
5041193,1989,12,8,5,67.0,NaN,NaN,NaN,NaN,NaN
5041194,1989,12,11,1,-5.0,NaN,NaN,NaN,NaN,NaN
5041195,1989,12,12,2,63.0,NaN,NaN,NaN,NaN,NaN
5041196,1989,12,13,3,13.0,NaN,NaN,NaN,NaN,NaN
5041197,1989,12,14,4,-9.0,NaN,NaN,NaN,NaN,NaN
5041198,1989,12,15,5,7.0,NaN,NaN,NaN,NaN,NaN
5041199,1989,12,17,7,-4.0,NaN,NaN,NaN,NaN,NaN

In [19]:
year_list = os.listdir(path)
year_list[0][2:4]
df.append(temp_df, ignore_index=True, sort = False)

,Year,Month,DayofMonth,DayOfWeek,ArrDelay,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1989,1,23,1,110.0,NaN,NaN,NaN,NaN,NaN
1,1989,1,24,2,20.0,NaN,NaN,NaN,NaN,NaN
2,1989,1,25,3,-19.0,NaN,NaN,NaN,NaN,NaN
3,1989,1,26,4,-29.0,NaN,NaN,NaN,NaN,NaN
4,1989,1,27,5,-39.0,NaN,NaN,NaN,NaN,NaN
5,1989,1,28,6,-2.0,NaN,NaN,NaN,NaN,NaN
6,1989,1,29,7,230.0,NaN,NaN,NaN,NaN,NaN
7,1989,1,30,1,-21.0,NaN,NaN,NaN,NaN,NaN
8,1989,1,31,2,155.0,NaN,NaN,NaN,NaN,NaN
9,1989,1,2,1,-17.0,NaN,NaN,NaN,NaN,NaN
10,1989,1,3,2,13.0,NaN,NaN,NaN,NaN,NaN
11,1989,1,4,3,10.0,NaN,NaN,NaN,NaN,NaN
12,1989,1,5,4,18.0,NaN,NaN,NaN,NaN,NaN
13,1989,1,6,5,-6.0,NaN,NaN,NaN,NaN,NaN
14,1989,1,7,6,5.0,NaN,NaN,NaN,NaN,NaN
15,1989,1,8,7,0.0,NaN,NaN,NaN,NaN,NaN
16,1989,1,9,1,-19.0,NaN,NaN,NaN,NaN,NaN
17,1989,1,10,2,-15.0,NaN,NaN,NaN,NaN,NaN
18,1989,1,11,3,67.0,NaN,NaN,NaN,NaN,NaN
19,1989,1,12,4,-5.0,NaN,NaN,NaN,NaN,NaN
20,1989,1,13,5,-5.0,NaN,NaN,NaN,NaN,NaN
21,1989,1,14,6,-8.0,NaN,NaN,NaN,NaN,NaN
22,1989,1,15,7,125.0,NaN,NaN,NaN,NaN,NaN
23,1989,1,16,1,-12.0,NaN,NaN,NaN,NaN,NaN
24,1989,1,17,2,-3.0,NaN,NaN,NaN,NaN,NaN
25,1989,1,18,3,-9.0,NaN,NaN,NaN,NaN,NaN
26,1989,1,19,4,-16.0,NaN,NaN,NaN,NaN,NaN
27,1989,1,20,5,-4.0,NaN,NaN,NaN,NaN,NaN
28,1989,1,21,6,46.0,NaN,NaN,NaN,NaN,NaN
29,1989,1,22,7,100.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
5041170,1989,12,13,3,5.0,NaN,NaN,NaN,NaN,NaN
5041171,1989,12,14,4,11.0,NaN,NaN,NaN,NaN,NaN
5041172,1989,12,15,5,22.0,NaN,NaN,NaN,NaN,NaN
5041173,1989,12,16,6,80.0,NaN,NaN,NaN,NaN,NaN
5041174,1989,12,18,1,35.0,NaN,NaN,NaN,NaN,NaN
5041175,1989,12,19,2,46.0,NaN,NaN,NaN,NaN,NaN
5041176,1989,12,20,3,34.0,NaN,NaN,NaN,NaN,NaN
5041177,1989,12,21,4,77.0,NaN,NaN,NaN,NaN,NaN
5041178,1989,12,22,5,22.0,NaN,NaN,NaN,NaN,NaN
5041179,1989,12,23,6,40.0,NaN,NaN,NaN,NaN,NaN
5041180,1989,12,24,7,-13.0,NaN,NaN,NaN,NaN,NaN
5041181,1989,12,25,1,-15.0,NaN,NaN,NaN,NaN,NaN
5041182,1989,12,26,2,11.0,NaN,NaN,NaN,NaN,NaN
5041183,1989,12,27,3,26.0,NaN,NaN,NaN,NaN,NaN
5041184,1989,12,28,4,33.0,NaN,NaN,NaN,NaN,NaN
5041185,1989,12,30,6,27.0,NaN,NaN,NaN,NaN,NaN
5041186,1989,12,31,7,22.0,NaN,NaN,NaN,NaN,NaN
5041187,1989,12,1,5,-6.0,NaN,NaN,NaN,NaN,NaN
5041188,1989,12,3,7,5.0,NaN,NaN,NaN,NaN,NaN
5041189,1989,12,4,1,0.0,NaN,NaN,NaN,NaN,NaN
5041190,1989,12,5,2,-2.0,NaN,NaN,NaN,NaN,NaN
5041191,1989,12,6,3,2.0,NaN,NaN,NaN,NaN,NaN
5041192,1989,12,7,4,-4.0,NaN,NaN,NaN,NaN,NaN
5041193,1989,12,8,5,67.0,NaN,NaN,NaN,NaN,NaN
5041194,1989,12,11,1,-5.0,NaN,NaN,NaN,NaN,NaN
5041195,1989,12,12,2,63.0,NaN,NaN,NaN,NaN,NaN
5041196,1989,12,13,3,13.0,NaN,NaN,NaN,NaN,NaN
5041197,1989,12,14,4,-9.0,NaN,NaN,NaN,NaN,NaN
5041198,1989,12,15,5,7.0,NaN,NaN,NaN,NaN,NaN
5041199,1989,12,17,7,-4.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
temp_df = pd.read_csv(year_list[0], skipinitialspace=True, usecols=fields)
temp_df

In [ ]:
year_list[0]

In [ ]:
years = []
for year in range(1987,2009): #1987 inclusive, 2009 exclusive
    
    years.append(year)
years

In [ ]:
df_name

In [ ]:
str(int(df_name) + 1)

In [ ]:
df_name = str(int(df_name) + 1) + '_df'
df_name

In [ ]:
df_87.info()

In [ ]:
df_08.columns

In [ ]:
df_08.info(null_counts = True)

In [ ]:
plt.figure(figsize = (15,5))
na_counts = df_87.isna().sum()
base_color = sb.color_palette()[0]
sb.barplot(na_counts.index.values, na_counts, color=base_color)
locs, labels = plt.xticks() 
plt.xticks(np.arange(len(df_87.columns)), df_87.columns, rotation=90);

In [ ]:
plt.figure(figsize = (15,5))
na_counts = df_08.isna().sum()
base_color = sb.color_palette()[0]
sb.barplot(na_counts.index.values, na_counts, color=base_color)
locs, labels = plt.xticks() 
plt.xticks(np.arange(len(df_08.columns)), df_08.columns, rotation=90);